:root {
    --bg-main: #ffffff;
    --bg-dim: #f0f0f0;
    --fg-main: #000000;
    --fg-dim: #595959;
    --fg-alt: #193668;
    --border: #9f9f9f;
    --gold: #80601f;
    --maroon: #731c52;

    --a4-width: 21cm;
}

:root { font-family: Arial, sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', Arial, sans-serif; }
}

