<style>
  ${ templates/layout.css() }
</style>
  <body>

    ${ templates/nav.html() }

    <main>
      <article>

        ${ templates/headline.html() }
       
        <section>
          <footer>
            <ul>
              <h3>
                <li>
                  <a href="mailto:$email$">
                    $email$
                  </a>
                </li>
              </h3>
              <li>
                ${ vendor/icons/simple-icons/googlemaps.svg() }
                $address$
              </li>
              <li>
                ${ vendor/icons/ion/language.svg() }
                <code>$knowsLanguage[; ]$</code>
              </li>
              <li>
                ${ vendor/icons/simple-icons/github.svg() }
                <a href="https://$sameAs/first$">
                  <code>$sameAs/first$</code>
                </a>
              </li>
              <li>
                ${ vendor/icons/simple-icons/codeberg.svg() }
                <a href="https://$sameAs/last$">
                  <code>$sameAs/last$</code>
                </a>
              </li>
              <li>
                ${ vendor/icons/simple-icons/letsencrypt.svg() }
                <a href="https://keyoxide.org/$email$">
                  <code>$id$</code>
                </a>
              </li>
            </ul>
            <div>
              <h3>Summary</h3>
              <p>${ content/text/summary.org() }</p>
            </div>
          </footer>
        </section>

        <section>
          <h3>Professional Work</h3>
          $for(hasOccupation)$
          <details open>
            <summary>
              <span>$hasOccupation.hasOccupation.name$</span>
              <time>
                $hasOccupation.startDate$ -
                $hasOccupation.endDate$
              </time>
              <ul>
                $for(hasOccupation.hasOccupation.skills)$
                <li>
                  $hasOccupation.hasOccupation.skills$
                </li>
                $endfor$
              </ul>
            </summary>
            <p>$hasOccupation.hasOccupation.description$</p>
            <ul>
              $for(hasOccupation.hasOccupation.responsibilities)$
              <li>
                $hasOccupation.hasOccupation.responsibilities$
              </li>
              $endfor$
            </ul>
          </details>
          $endfor$
        </section>

        <section>
          <h3>Education</h3>
          $for(alumniOf)$
          <details open>
            <summary>
              <span>$alumniOf.alumniOf.name$</span>
              <time>
                $alumniOf.startDate$ -
                $alumniOf.endDate$
              </time>
            </summary>
            <p>$alumniOf.roleName$</p>
            <p><a href="$alumniOf.alumniOf.url$">$alumniOf.alumniOf.url$</a></p>
          </details>
          $endfor$
        </section>
      </article>
    </main>

    ${ templates/filters() }
    
  </body>

