<nav role="nav">
    <header></header>
    <menu>
        <li>
            <a href="https://keyoxide.org/$email$">
                <span class="keyoxide-icon"></span>
            </a>
        </li>
        <li>
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/BAD0718ACD17465A53F79EFEE43F1CB599476F0A">
                <span class="gnupg-icon"></span>
            </a>
        </li>
        <li>
            <a href="https://github.com/braluc">
                <span class="github-icon"></span>
            </a>
        </li>
        <li>
            <a href="https://codeberg.org/braluc">
                <span class="codeberg-icon"></span>
            </a>
        </li>
    </menu>
</nav>